<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tạo đợt hiến máu</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"/>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <style>
        a.paginate_button {
            padding-left: 10px;
            padding-right: 10px;
        }

        a.current {
            background: #ecf0f1;;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/event/create">Tạo đợt hiến máu</a></li>
            <li><a href="/history/1">Quản lý lịch sử</a></li>
            <li class="active"><a href="/event/1">Quản lý đợt hiến máu</a></li>
            <li><a href="/post/1">Quản lý tìm máu</a></li>
            <li><a href="/organization">Quản lý đơn vị hiến máu</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Đăng xuất</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <table id="tableEvent" class="table table-bordered">
        <thead>
        <tr class="row">
            <th class="col-md-1">ID</th>
            <th class="col-md-2">Tên đợt</th>
            <th class="col-md-1">Nhóm máu</th>
            <th class="col-md-2">Ngày</th>
            <th class="col-md-2">Địa điểm</th>
            <th class="col-md-4">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${events}" class="row">
            <td th:text="${item.id}" class="col-md-1"></td>
            <td th:text="${item.eventName}" class="col-md-2"></td>
            <td th:text="${item.bloodType}" class="col-md-1"></td>
            <td th:text="${item.time}" class="col-md-2"></td>
            <td th:text="${item.address}" class="col-md-2"></td>
            <td class="col-md-4">
                <button data-toggle="modal"
                        th:attr="data-id=${item.id},
                        data-name=${item.eventName},
                        data-type=${item.bloodType},
                        data-time=${item.time},
                        data-address=${item.address},
                        data-content=${item.content},
                        data-town=${item.town.name},
                        data-organization=${item.organization.name}
                        "
                        data-target="#detail" class="view btn btn-sm  btn-success">Xem chi tiết
                </button>
                <a th:href="@{/event/user/{id}(id=${item.id})}" class="btn btn-sm btn-default">DS Người hiến</a>
                <span th:if="${item.status}">
                    <button class="btn btn-sm btn-success">Đã chuyển</button>
                </span>
                <span th:unless="${item.status}">
                    <a th:href="@{/event/forward/{id}(id=${item.id})}" class="btn btn-sm btn-warning">Chuyển</a>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center">
        <a th:if="${current}>1" th:href="@{/event/{id}(id=${current}-1)}" type="button" class="btn btn-default">Sau</a>
        <a th:unless="${current}>1" th:href="@{/event/{id}(id=1)}" type="button" class="btn btn-default">Sau</a>
        <div th:each="item:${page}" class="btn-group" role="group" aria-label="...">
            <a th:href="@{/event/{id}(id=${item})}" th:if="${current}==${item}" th:text="${item}" type="button"
               class="btn btn-success"></a>
            <a th:href="@{/event/{id}(id=${item})}" th:unless="${current}==${item}" th:text="${item}" type="button"
               class="btn btn-default"></a>
        </div>
        <a th:if="${current}>=${maxPage}" th:href="@{/event/{id}(id=${current})}" type="button"
           class="btn btn-default">Kế tiếp</a>
        <a th:unless="${current}>=${maxPage}" th:href="@{/event/{id}(id=${current}+1)}" type="button"
           class="btn btn-default">Kế tiếp</a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="detail" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chi tiết đợt hiến máu</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <input id="name" type="text" class="form-control" placeholder="Tên đợt"
                           readonly="readonly"/><br/>
                    <input id="organization" type="text" class="form-control" placeholder="Đơn vị" readonly="readonly"/><br/>
                    <input id="type" type="text" class="form-control" placeholder="Nhóm máu"
                           readonly="readonly"/><br/>
                    <input id="date" type="text" class="form-control" readonly="readonly"/><br/>
                    <textarea id="content" readonly="readonly" class="form-control" rows="5" placeholder="Nội dung"
                              name="content"/><br/>
                    <input id="address" type="text" class="form-control" placeholder="Địa điểm" readonly="readonly"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".view", function () {
            var id = $(this).data('id');
            var name = $(this).data('name');
            var organization = $(this).data('organization');
            var bloodType = $(this).data('type');
            var date = $(this).data('time');
            var content = $(this).data('content');
            var address = $(this).data('address');
            $(".modal-body #id").val(id);
            $(".modal-body #name").val(name);
            $(".modal-body #organization").val(organization);
            $(".modal-body #type").val(bloodType);
            $(".modal-body #date").val(date);
            $(".modal-body #content").val(content);
            $(".modal-body #address").val(address);
        });
    });
</script>
</body>
</html>